#tab_script {
  resize: none;
}

.funny_font {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}

.slightly_padded {
  padding: 20px;
}

.status_bar {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.red {
  color: red;
}

main, aside, .container {
  display: flex;
}

.container {
  min-height: 85vh;
}

aside {
  border-right: 1px solid black;
}

main {
  flex-direction: column;
  width: 1700px;
}

textarea, button {
  border-color: black;
  background: white;
}

textarea {
  border-width: 1px 1px 1px 0;
}

button {
  border-width: 1px 0 1px 1px;
}

.larger_font {
  font-size: 18px;
}

header, .ghost_hover:hover {
  background: black;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
